<h2>Add a restaurant</h2>

<form action='/restaurants' method='POST'>
  <div>
    <label for='name'>Name</label><br />
    <input type='text' name='name' id='name' required />
  </div>
  <div>
    <label for='imagelink'>Image link</label><br />
    <input type='text' name='imagelink' id='imagelink' required />
  </div>
  <button type='submit' class='button--anchor'>
    Submit
  </button>
</form>