/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', serif;
  background-color: ivory;
}

h1,
h2,
h3 {
  color: #333;
  font-family: 'Roboto';
  margin-top: 0.5rem;
}

p {
  max-width: 66ch;
  line-height: 1.5;
}

a {
  color: #7e2811;
}

button {
  padding: 0.41rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
}

main {
  margin: 1.5rem 0;
}

button:hover,
.anchor--button:hover {
  background-color: #7e2811;
}

.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

.promo-blocks > div {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.promo-blocks > div:last-child {
  margin-right: 0;
}

.promo-section {
  margin-top: 3rem;
}

.promo-blocks ul {
  margin-left: 1.5rem;
  list-style: disc;
}

.anchor--button,
button {
  font-size: 1rem;
  border: 0;
  background-color: #45425a;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

.anchor--button {
  padding: 0.5rem;
}

.promo-blocks__actions {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.heading__sub {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-top: 0.8rem;
}

.button--active {
  background-color: #acc12f;
}

.restaurant img,
.promo-blocks > div img {
  max-height: 12rem;
}

@media screen and (max-width: 1024px) {
  .restaurant {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .promo-blocks {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant {
    flex: 1 1 287px;
  }

  .product-details {
    display: flex;
  }
}

input {
  border: 1px solid;
  background-color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  min-width: 25rem;
}

label {
  display: block;
}
